<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admission</title>
      <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body >

    <div class="grid grid-cols-2 gap-3 m-3  ">


      <div class="col-span-2 border-2 border-black rounded-lg bg-white p-3 w-2/5 ">
<div class="grid grid-cols-2 px-auto gap-y-4 ">

<div class="rounded-lg   col-span-2 ">

<label for="">Search by:</label>

</div>

<div class="rounded-lg  ">
  <label class="mr-2"for="">Name : (Enter your fullname with spaces.. ex,FirstName MiddleName LastName)</label>
  <input class="border-2 border-gray-200 p-1" type="text" name="" value="" placeholder="Put your Name Here:">

</div>


<div class="rounded-lg ">
  <label class="mr-2"for="">Id :</label><br>
  <input class="border-2 border-gray-200 p-1" type="text" name="" value="" placeholder="Put your College-Id Here:">

</div>

<div class="rounded-lg bg-indigo-500 w-2/5 flex justify-center mt-2 ">
  <button class="p-1 text-white "type="button" name="button">Search</button>

</div>


<div class="rounded-lg bg-indigo-500 w-2/5 flex justify-center mt-2">
  <button class="p-1 text-white "type="button" name="button">Search</button>

</div>

</div>
      </div>
      <div class="grid grid-cols-2 p-3 bg-white rounded-lg border-2 border-black">

        <div class="col-span-2   flex justify-center rounded-t-lg mb-3">
          <label for="">Student Data(Computer)</label>

        </div>

<div class="col-span-2 grid grid-cols-5 ">

  <div class="col-span-4 bg-purple-200 flex justify-center border-2 border-black rounded-tl-lg ">
    <label for="">name</label>
  </div>


  <div class="flex justify-center bg-blue-200 border-2 border-black rounded-tr-lg ">
    <a href="#">view / Edit</a>
  </div>

  <div class="col-span-4  flex justify-center border-2 border-black  ">
    <label for="">Rushikesh Ravikiran Dantakale</label>
  </div>


  <div class="flex justify-center  border-2 border-black  ">
    <a href="#">view</a>
  </div>


</div>



        </div>
    </div>






  </body>
</html>
